/* header */
/* headrer menu */
/* main */
/* hero */
/* section-2 merits-list */
/* section-3 doing-list*/
/* clients list */
/* Team */
/* footer */
/* portfolio */
/* hover + focus */
.my-box {
  padding: 10px;
}

@media (min-width: 768px) {
  .my-box {
    padding: 20px;
  }
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: white;
}

img {
  display: block;
}

/* CLASSES =========== */
.hover:hover,
.focus:focus {
  color: #2196f3;
}

.link {
  display: block;
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.img {
  display: block;
}

.title {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 0.03em;
  color: #212121;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 320px) {
  .container {
    width: 320px;
  }
}

@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/* HEADER =====================================*/
header {
  border: 1px solid #ececec;
}

header .container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 60px;
  /* navigation ==================================== */
  /* contacts ==================================== */
}

header .container .header-navigation {
  margin-bottom: 40px;
}

header .container .header-navigation .header-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header .container .header-address {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header .container .header-address .header-address-list li a:hover,
header .container .header-address .header-address-list li a:focus {
  color: #2196f3;
}

header .container .header-address .header-address-list li a {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

header .container .header-address .header-address-list li .header-address-list-email-img,
header .container .header-address .header-address-list li .header-address-list-tel-img {
  fill: #757575;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}

header .container .header-address .header-address-list li .header-address-list-email-link:hover .header-address-list-email-img,
header .container .header-address .header-address-list li .header-address-list-email-link:focus .header-address-list-email-img,
header .container .header-address .header-address-list li .header-address-list-tel-link:hover .header-address-list-tel-img,
header .container .header-address .header-address-list li .header-address-list-tel-link:focus .header-address-list-tel-img {
  fill: #2196f3;
}

header .container .header-address .header-address-list .header-address-list__e-mail {
  margin-bottom: 10px;
}

@media (min-width: 1200px) {
  header .container .header-address .header-address-list .header-address-list__e-mail {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  header .container {
    height: 80px;
  }
  header .container .header-navigation {
    margin-bottom: 0;
  }
  header .container .header__menu-mobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .container .header-navigation .header-navigation-list {
    flex-direction: row;
  }
  header .container .header-navigation .header-navigation-list li:not(:last-child) {
    margin-right: 40px;
  }
}

@media (min-width: 1200px) {
  header .container {
    height: 80px;
  }
  header .container .header__menu-mobile {
    display: flex;
    align-items: center;
  }
  header .container .header-address ul {
    display: flex;
    align-items: center;
  }
  header .container .header-address ul .header-address-list__e-mail {
    margin-right: 30px;
  }
}

/* Portfolio Projects list ============================*/
.projects-list {
  display: flex;
  flex-wrap: wrap;
  /* projects list items ===================================*/
  /* Project item hover+focus ================== */
  /* Project item overlay ================== */
}

.projects-list li {
  border: 1px solid #eeeeee;
  width: 100%;
  height: 404px;
}

.projects-list li:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .projects-list li {
    height: 440px;
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
  }
  .projects-list li:nth-child(odd) {
    margin-right: 30px;
  }
  .projects-list li:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .projects-list li {
    height: 404px;
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .projects-list li:nth-child(3n) {
    margin-right: 0;
  }
}

.projects-list .projects-list-item a {
  height: 100%;
}

.projects-list .projects-list-item-img {
  width: 100%;
}

.projects-list .projects-list-item-description {
  display: inline-block;
  margin-left: 24px;
  margin-top: 20px;
}

.projects-list .projects-list-item-link h2 {
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 8px;
}

.projects-list .projects-list-item-description > p {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #757575;
}

.projects-list .projects-list-item-link:hover .projects-list-item-overlay,
.projects-list .projects-list-item-link:focus .projects-list-item-overlay {
  top: 0;
}

.projects-list .projects-list-item-link:hover, .projects-list .projects-list-item-link:focus {
  outline: 1px solid #eeeeee;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

.projects-list .projects-list-item-link-wraper {
  position: relative;
  overflow: hidden;
}

.projects-list .projects-list-item-overlay {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  background: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: white;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Footer ========================================*/
footer {
  background: #2f303a;
}

footer .container {
  height: 603px;
  padding-top: 60px;
  text-align: center;
  /* Footer logo-contacts ============= */
  /* Footer connections */
  /* Footer subscription ===================  */
}

footer .container .footer__logo-contacts {
  display: inline-block;
  margin-bottom: 60px;
  /* logo ==================*/
  /* footer contacts ==================*/
}

footer .container .footer__logo-contacts .logo-link {
  justify-content: center;
}

footer .container .footer__logo-contacts .footer__contacts-address {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: white;
  margin-bottom: 9px;
}

footer .container .footer__logo-contacts .footer__contacts-list li:not(:last-child) {
  margin-bottom: 9px;
}

footer .container .footer__logo-contacts .footer__contacts-list-email,
footer .container .footer__logo-contacts .footer__contacts-list-tel {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

footer .container .footer__connections {
  margin-bottom: 60px;
}

footer .container .footer__connections p {
  margin-bottom: 20px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
}

footer .container .footer__subscription .footer__subscription-title {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: white;
  margin-bottom: 20px;
}

footer .container .footer__subscription .footer__subscription-form {
  vertical-align: middle;
}

footer .container .footer__subscription form input {
  width: 100%;
  height: 50px;
  color: white;
  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-bottom: 20px;
  padding-left: 10px;
}

@media (min-width: 768px) {
  footer .container .footer__subscription form input {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  footer .container .footer__subscription form input {
    width: 358px;
    margin-right: 12px;
    padding-left: 10px;
  }
}

@media (min-width: 768px) {
  footer .container {
    height: 463px;
  }
  footer .container .footer_tablet {
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  footer .container {
    display: flex;
    align-items: center;
    height: 252px;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
  }
  footer .container .footer_tablet {
    display: flex;
    align-items: center;
  }
  footer .container .footer__logo-contacts {
    text-align: left;
    margin-right: 70px;
    margin-bottom: 0;
  }
  footer .container .footer__logo-contacts .logo-link {
    justify-content: left;
  }
  footer .container .footer__connections {
    margin-bottom: 0;
  }
  footer .container .footer__connections p {
    display: flex;
    justify-content: start;
  }
  footer .container .footer__connections .footer__connections-socials {
    margin-right: 94px;
  }
  footer .container .footer__subscription p {
    display: flex;
    justify-content: start;
  }
  footer .container .footer__subscription .footer__subscription-form {
    display: flex;
  }
}

@media (max-width: 767px) {
  .header__menu-mobile {
    display: none;
    position: absolute;
    top: 101%;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 393px;
    background-color: white;
    padding-top: 48px;
    padding-bottom: 64px;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .header__menu-mobile.is-open {
    display: block;
  }
}

@media (min-width: 768px) {
  .header__menu-mobile {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .header__menu-mobile {
    width: 100%;
  }
}

.header___menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: transparent;
}

@media (max-width: 767px) {
  .header___menu-button {
    width: 40px;
  }
}

@media (min-width: 768px) {
  .header___menu-button {
    display: none;
  }
}

.header___menu-button.is-open .menu__icon-close {
  display: block;
}

.header___menu-button.is-open .menu__icon-open {
  display: none;
}

.menu__icon-close {
  display: none;
}

.header___menu-button-image {
  width: 24px;
  height: 16px;
  fill: black;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header___menu-button-image:hover,
.header___menu-button-image :focus {
  fill: #2196f3;
  cursor: pointer;
}

@media (min-width: 768px) {
  .header___menu-button-image {
    display: none;
  }
}

.hero-button {
  position: absolute;
  top: 232px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 200px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 0;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover, .hero-button:focus {
  background-color: white;
  color: #2196f3;
}

@media (min-width: 1200px) {
  .hero-button {
    top: 350px;
  }
}

/* Portfolio filter  ========================*/
.projects {
  padding-top: 94px;
  padding-bottom: 94px;
}

.projects .buttons-filter {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-bottom: 34px;
}

@media (min-width: 768px) {
  .projects .buttons-filter {
    justify-content: center;
  }
}

@media (min-width: 1200px) {
  .projects .buttons-filter {
    justify-content: center;
  }
}

.projects .buttons-filter li:not(:last-child) {
  margin-right: 8px;
}

.projects .buttons-filter button {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: #212121;
  height: 38px;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
}

.projects .buttons-filter button:hover, .projects .buttons-filter button:focus {
  color: white;
  background-color: #2196f3;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}

/* Footer button ========================*/
.footer__button-tosign {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: white;
}

.footer__button-tosign p {
  margin-right: 10px;
}

.footer__button-tosign::after {
  content: "";
  display: block;
  background-image: url(../images/footer/icon-send.svg);
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  margin-left: 10px;
}

/* Modal button close ========== */
.modal-btn-close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-btn-close:hover, .modal-btn-close:focus {
  fill: #2196f3;
  border-color: #2196f3;
}

.modal-btn-close .modal-btn-close__icon-x {
  height: 11px;
  width: 11px;
}

/* Form button accept ===============*/
.form__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0.06em;
  color: white;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* header navigation menu ======================  */
.header-navigation-list a {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page,
.menu-underline {
  display: flex;
  align-items: center;
  height: 50px;
}

@media (min-width: 768px) {
  .active-page,
  .menu-underline {
    height: 80px;
  }
}

@media (min-width: 1200px) {
  .active-page,
  .menu-underline {
    height: 80px;
  }
}

.active-page a.current {
  color: #2196f3;
}

/* Portfolio menu underline ===========================  */
.active-page,
.menu-underline {
  position: relative;
}

.active-page::after,
.menu-underline::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  border-radius: 3px;
  background-color: #2196f3;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page::after {
  opacity: 1;
}

.menu-underline:hover::after,
.menu-underline:focus::after {
  opacity: 1;
}

/* Header logo ============== */
.logo {
  display: flex;
  align-items: center;
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: black;
  margin-right: 85px;
}

.logo .logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: #2196f3;
}

/* Footer logo ==================*/
footer .logo-link {
  display: flex;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-size: 26px;
  font-weight: bold;
  letter-spacing: 0.03em;
  text-transform: capitalize;
  color: white;
}

footer .logo-link span {
  color: #2196f3;
}

.team-list-teammate-social-list {
  display: flex;
  justify-content: space-between;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 30px;
}

.team-list-teammate-social-list li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.team-list-teammate-social-list .team-list-teammate-social-list-item-link-svg {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list-teammate-social-list .team-list-teammate-social-list-item a {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team a:hover,
.team a:focus {
  background-color: #2196f3;
}

.team a:hover .team-list-teammate-social-list-item-link-svg,
.team a:focus .team-list-teammate-social-list-item-link-svg {
  fill: white;
}

/* Footer socials connections ==================== */
.footer__connections-socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__connections-socials .footer__connections-socials-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__connections-socials .footer__connections-socials-item:not(:last-child) {
  margin-right: 10px;
}

.footer__connections-socials .footer__connections-socials-item a {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.footer__connections-socials .footer__connections-socials-item a:hover,
.footer__connections-socials .footer__connections-socials-item a:focus {
  background-color: #2196f3;
}

.footer__connections-socials .footer__connections-socials-item svg {
  width: 100%;
  height: 100%;
  fill: white;
}
/*# sourceMappingURL=portfolio.css.map */