* {
  padding: 0;
  margin: 0;

  outline: 2px solid red;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

html {
  box-sizing: border-box;
}

body {
  @include fonts($font, normal, 16px, 500, 0.03em);
  color: $font-color;
  background-color: $background-color;
}

img {
  display: block;

  outline: 2px solid #02457c;
}

ul {
  outline: 2px solid #bd9b07;
}

li {
  outline: 2px solid #000000;
}

/* CLASSES =========== */
.hover:hover,
.focus:focus {
  color: $accent-color;
}
.link {
  display: block;
  text-decoration: none;
}
.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.img {
  display: block;
}

.title {
  text-align: center;

  @include fonts($font, normal, 36px, bold, 0.03em);

  color: $title-color;
}

// .flexbox {
//   // display: flex;
// }
