/* Clients section ===============================*/
.clients {
  padding-top: 94px;
  padding-bottom: 94px;

  > .container {
    text-align: center;
  }
  h2 {
    margin-bottom: 50px;
  }

  .clients-list {
    display: flex;
    justify-content: center;
    align-items: center;

    li:not(:last-child) {
      margin-right: 30px;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;

      width: 170px;
      height: 90px;

      border: 1px solid $clients-list-color;
      border-radius: 4px;

      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:hover,
      &:focus {
        border: 1px solid $accent-color;
      }

      &:hover .clients-list-item-img,
      &:focus .clients-list-item-img {
        fill: $accent-color;
      }
    }
  }

  .clients-list-item-img {
    fill: $clients-list-color;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
