/* Footer ========================================*/
footer {
  display: flex;
  align-items: center;
  justify-content: center;

  // height: 252px;
  // margin-left: auto;
  // margin-right: auto;

  background: rgb(47, 48, 58);

  .container {
    /* Footer logo-contacts ============= */
    .footer__logo-contacts {
      margin-right: 70px;

      /* footer contacts ==================*/
      .footer__contacts-address {
        @include fonts($font, normal, 14px, normal, 0.03em);
        color: $footer__conection-text-color;

        margin-bottom: 9px;
      }
      .footer__contacts-list li:not(:last-child) {
        margin-bottom: 9px;
      }
      .footer__contacts-list-email,
      .footer__contacts-list-tel {
        @include fonts($font, normal, 14px, normal, 0.03em);
        color: $footer__address-text-color;
      }
    }

    /* Footer connections */
    .footer__connections p {
      display: block;
      margin-bottom: 20px;

      @include fonts($font, normal, 14px, bold, 0.03em);
      text-transform: uppercase;
      color: $footer__conection-text-color;
    }

    /* Footer subscription ===================  */
    .footer__subscription {
      .footer__subscription-title {
        @include fonts($font, normal, 14px, bold, 0.03em);
        text-transform: uppercase;
        color: $footer__conection-text-color;

        margin-bottom: 20px;
      }
      // .footer__subscription-form {
      //   // display: flex;
      // }
      .footer__contact-form-section {
        padding: 0;
      }
      input {
        width: 358px;
        height: 50px;

        color: rgb(255, 255, 255);
        background: rgb(47, 48, 58);
        border: 1px solid rgba(255, 255, 255, 0.3);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;

        margin-right: 12px;
        padding-left: 10px;
      }
    }

    @include for-size(tablet) {
    }

    @include for-size(desktop) {
      display: flex;
      align-items: center;
      justify-content: start;
    }
  }
}
