/* hero ==================================== */
.hero-slider {
  position: relative;

  margin-left: auto;
  margin-right: auto;
  height: 400px;

  text-align: center;

  background-image: linear-gradient(
      to bottom,
      $hero-slider-background-color,
      $hero-slider-background-color
    ),
    url(../images/main/section-1/slider.jpg);
  background-position: center;
  background-repeat: no-repeat;

  .hero-title {
    display: flex;
    justify-content: center;

    padding-top: 118px;

    @include fonts($font, normal, 26px, 900, 0.06em);
    line-height: 42px;

    text-transform: uppercase;
    color: rgb(255, 255, 255);
  }
  @include for-size(tablet) {
  }

  @include for-size(desktop) {
    height: 600px;

    .hero-title {
      font-size: 44px;
      line-height: 60px;
      padding-top: 200px;
    }
  }
}
