.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;

  .title {
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 0.03em;
    color: $title-color;
    text-align: center;
    margin-bottom: 50px;
  }

  /* team list ==================================*/
  .team-list {
    display: flex;
    justify-content: center;

    .team-list-teammate {
      background-color: #fff;
      box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
        0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
      border-radius: 0px 0px 4px 4px;

      &:not(:last-child) {
        margin-right: 30px;
      }

      .team-list-teammate-img {
        display: block;
        width: 270px;
        margin-bottom: 30px;
      }
      h3 {
        text-align: center;

        @include fonts($font, normal, 16px, 500, 0.03em);
        color: $title-color;

        margin-bottom: 10px;
      }
      p {
        text-align: center;

        @include fonts($font, normal, 16px, normal, 0.03em);
        color: $description-text-color;

        margin-bottom: 16px;
      }
    }
  }
}
